<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi, ${adminName}</h1>

    <!-- 
        Create a separate form for admin to:
            add guests
            add meals
            add gifts
        
        Create (POST) endpoints for admin to add guests, meals and gifts
        
        Add links to this page 
            See all guests
            See registry (will display which guests/gifts are left)
        
        Delete
        Allow admin to delete guests

        Update
        Allow admin to update gift registry items 
     -->
</body>
</html>