
body {
    background-color: rgb(191, 191, 235);
}

main {
    margin: 0 auto;
    background-color: rgb(255, 243, 229);
    width: 60%;
}

h1 {
    color: rgb(184, 29, 122);
    padding-top: 0.3em;
}

.headings {
    font-size: 1.25em;
    font-weight: bold;
}